ackermann-msgs==2.0.2
action-msgs==2.0.3
action-tutorials-interfaces==0.33.9
action-tutorials-py==0.33.9
actionlib-msgs==5.3.6
actuator-msgs==0.0.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
ament-cmake-test==2.5.5
ament-copyright==0.17.4
ament-cppcheck==0.17.4
ament-cpplint==0.17.4
ament-flake8==0.17.4
ament-index-python==1.8.2
ament-lint==0.17.4
ament-lint-cmake==0.17.4
ament-package==0.16.5
ament-pep257==0.17.4
ament-uncrustify==0.17.4
ament-xmllint==0.17.4
angles==1.16.1
async-timeout==5.0.1
attrs==26.1.0
builtin-interfaces==2.0.3
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
cmake==4.3.2
composition-interfaces==2.0.3
control-msgs==5.7.0
controller-manager==4.42.2
controller-manager-msgs==4.42.2
cuda-bindings==13.2.0
cuda-pathfinder==1.5.4
cuda-toolkit==13.0.2
cv-bridge==4.1.0
datasets==2.10.1
demo-nodes-py==0.33.9
diagnostic-msgs==5.3.6
diagnostic-updater==4.2.6
dill==0.3.6
domain-coordinator==0.12.0
donut-python @ git+https://github.com/clovaai/donut.git@4cfcf972560e1a0f26eb3e294c8fc88a0d336626
example-interfaces==0.12.0
examples-rclpy-executors==0.19.7
examples-rclpy-minimal-action-client==0.19.7
examples-rclpy-minimal-action-server==0.19.7
examples-rclpy-minimal-client==0.19.7
examples-rclpy-minimal-publisher==0.19.7
examples-rclpy-minimal-service==0.19.7
examples-rclpy-minimal-subscriber==0.19.7
filelock==3.29.0
frozenlist==1.8.0
fsspec==2026.4.0
generate-parameter-library-py==0.6.0
geometry-msgs==5.3.6
gps-msgs==2.1.1
huggingface-hub==0.13.4
idna==3.13
image-geometry==4.1.0
interactive-markers==2.5.5
Jinja2==3.1.6
joblib==1.5.3
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
laser-geometry==2.7.2
launch==3.4.10
launch-param-builder==0.1.1
launch-ros==0.26.11
launch-testing==3.4.10
launch-testing-ros==0.26.11
launch-xml==3.4.10
launch-yaml==3.4.10
lifecycle-msgs==2.0.3
lightning-utilities==0.15.3
lit==18.1.8
logging-demo==0.33.9
map-msgs==2.4.1
MarkupSafe==3.0.3
message-filters==4.11.10
moveit==2.12.4
moveit-configs-utils==2.12.4
moveit-msgs==2.6.0
mpmath==1.3.0
multidict==6.7.1
multiprocess==0.70.14
munch==4.0.0
nav-msgs==5.3.6
networkx==3.4.2
nltk==3.9.4
numpy==1.23.5
nvidia-cublas==13.1.0.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti==13.0.85
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime==13.0.96
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu13==9.19.0.56
nvidia-cufft==12.0.0.61
nvidia-cufft-cu11==10.9.0.58
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver==12.0.4.66
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse==12.6.3.3
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparselt-cu13==0.8.0
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu13==2.28.9
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
nvidia-nvtx-cu11==11.7.91
object-recognition-msgs==2.0.0
octomap-msgs==2.0.1
opencv-python==4.13.0.92
osrf-pycommon==2.1.7
packaging==26.2
pal-statistics==2.7.0
pal-statistics-msgs==2.7.0
pandas==1.5.3
pcl-msgs==1.0.0
pendulum-msgs==0.33.9
pillow==12.2.0
propcache==0.4.1
protobuf==3.20.3
pyarrow==10.0.1
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-qt-binding==2.2.2
pytorch-lightning==2.6.1
pytz==2026.1.post1
PyYAML==6.0.3
qt-dotgraph==2.7.5
qt-gui==2.7.5
qt-gui-cpp==2.7.5
qt-gui-py-common==2.7.5
quality-of-service-demo-py==0.33.9
rcl-interfaces==2.0.3
rclpy==7.1.9
rcutils==6.7.5
regex==2026.4.4
requests==2.33.1
resource-retriever==3.4.4
responses==0.18.0
rmw-dds-common==3.1.1
ros-gz-bridge==1.0.18
ros-gz-interfaces==1.0.18
ros-gz-sim==1.0.18
ros2action==0.32.8
ros2bag==0.26.9
ros2bag-mcap-cli==0.26.9
ros2bag-sqlite3-cli==0.26.9
ros2cli==0.32.8
ros2component==0.32.8
ros2controlcli==4.42.2
ros2doctor==0.32.8
ros2interface==0.32.8
ros2launch==0.26.11
ros2lifecycle==0.32.8
ros2multicast==0.32.8
ros2node==0.32.8
ros2param==0.32.8
ros2pkg==0.32.8
ros2plugin==5.4.4
ros2run==0.32.8
ros2service==0.32.8
ros2topic==0.32.8
rosbag2-interfaces==0.26.9
rosbag2-py==0.26.9
rosgraph-msgs==2.0.3
rosidl-adapter==4.6.7
rosidl-cli==4.6.7
rosidl-cmake==4.6.7
rosidl-generator-c==4.6.7
rosidl-generator-cpp==4.6.7
rosidl-generator-py==0.22.2
rosidl-generator-type-description==4.6.7
rosidl-parser==4.6.7
rosidl-pycommon==4.6.7
rosidl-runtime-py==0.13.1
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.3
rosidl-typesupport-fastrtps-cpp==3.6.3
rosidl-typesupport-introspection-c==4.6.7
rosidl-typesupport-introspection-cpp==4.6.7
rpyutils==0.4.2
rqt-action==2.2.1
rqt-bag==1.5.6
rqt-bag-plugins==1.5.6
rqt-console==2.2.2
rqt-graph==1.5.6
rqt-gui==1.6.3
rqt-gui-py==1.6.3
rqt-msg==1.5.2
rqt-plot==1.4.5
rqt-publisher==1.7.3
rqt-py-common==1.6.3
rqt-py-console==1.2.3
rqt-reconfigure==1.6.3
rqt-service-caller==1.2.2
rqt-shell==1.2.3
rqt-srv==1.2.3
rqt-topic==1.7.5
ruamel.yaml==0.19.1
sconf==0.2.5
sensor-msgs==5.3.6
sensor-msgs-py==5.3.6
sentencepiece==0.2.1
service-msgs==2.0.3
shape-msgs==5.3.6
simulation-interfaces==1.2.0
six==1.17.0
srdfdom==2.0.7
sros2==0.13.5
statistics-msgs==2.0.3
std-msgs==5.3.6
std-srvs==5.3.6
stereo-msgs==5.3.6
sympy==1.14.0
teleop-twist-keyboard==2.4.1
tf2-geometry-msgs==0.36.19
tf2-kdl==0.36.19
tf2-msgs==0.36.19
tf2-py==0.36.19
tf2-ros-py==0.36.19
tf2-sensor-msgs==0.36.19
tf2-tools==0.36.19
theora-image-transport==4.0.6
timm==0.6.13
tokenizers==0.13.2
topic-monitor==0.33.9
torch==2.11.0
torchmetrics==1.9.0
torchvision==0.26.0
tqdm==4.67.3
trajectory-msgs==5.3.6
transformers==4.28.1
triton==3.6.0
turtlesim==1.8.3
type-description-interfaces==2.0.3
typing_extensions==4.15.0
unique-identifier-msgs==2.5.0
urdfdom-py==1.2.1
urllib3==2.6.3
vision-msgs==4.1.1
visualization-msgs==5.3.6
xacro==2.1.1
xxhash==3.7.0
yarl==1.23.0
zss==1.2.0
